@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --theme-colour-primary: #303f9f;
    --theme-colour-primary-dark: #1a237e;
    --theme-colour-primary-light: #3f51b5;
    --theme-colour-light: #e8eaf6;
    --theme-colour-light-focus: #9fa8da;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: 'Roboto', sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--bs-font-sans-serif);
}

a {
    text-decoration: none;
    color: inherit;
}

.container-fluid {
    width: 100%;
    height: auto;
}

.container {
    width: 960px;
    height: auto;
}

/*form style*/
h1 {
    font-size: 96px;
    font-weight: 300;
    font-family: var(--bs-font-sans-serif);
    line-height: 98px;
    text-transform: capitalize;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    font-family: var(--bs-font-sans-serif);
    line-height: 62px;
    text-transform: capitalize;
}

h3 {
    font-size: 48px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    line-height: 50px;
    text-transform: capitalize;
}

h4 {
    font-size: 34px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    line-height: 36px;
    text-transform: capitalize;
}

h5 {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    line-height: 26px;
    text-transform: capitalize;
}

h6 {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--bs-font-sans-serif);
    line-height: 22px;
    text-transform: capitalize;
}

.subtitle-1 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    line-height: 18px;
}

.subtitle-2 {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--bs-font-sans-serif);
    line-height: 16px;
}

.body-1 {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--bs-font-sans-serif);
    line-height: 18px;
}

.body-2 {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--bs-font-sans-serif);
    line-height: 16px;
}

.btn-primary {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--bs-font-sans-serif);
    padding: 10px 6px;
    background-color: var(--theme-colour-primary);
    color: var(--bs-white);
    transition: color .5s;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.35);
    margin: 8px;
}

.btn-primary:hover {
    background-color: var(--theme-colour-primary-light);
}

.btn-primary:focus {
    background-color: var(--theme-colour-primary-dark);
}

.btn-light {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--bs-font-sans-serif);
    padding: 10px 6px;
    background-color: var(--bs-white);
    color: var(--theme-colour-primary);
    transition: color .5s;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,.35);
    margin: 8px;
}

.btn-light:hover {
    background-color: var(--theme-colour-light);
}

.btn-light:focus {
    background-color: var(--theme-colour-light-focus);
}

.overline {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--bs-font-sans-serif);
}

.col-1, .col-xl-1, .col-lg-1, .col-md-1, .col-sm-1 {
    width: 8.33%;
}

.col-2, .col-xl-2, .col-lg-2, .col-md-2, .col-sm-2 {
    width: 16.66%;
}

.col-3, .col-xl-3, .col-lg-3, .col-md-3, .col-sm-3 {
    width: 25%;
}

.col-4, .col-xl-4, .col-lg-4, .col-md-4, .col-sm-4 {
    width: 33.33%;
}

.col-5, .col-xl-5, .col-lg-5, .col-md-5, .col-sm-5 {
    width: 41.66%;
}

.col-6, .col-xl-6, .col-lg-6, .col-md-6, .col-sm-6 {
    width: 50%;
}

.col-7, .col-xl-7, .col-lg-7, .col-md-7, .col-sm-7 {
    width: 58.33%;
}

.col-8, .col-xl-8, .col-lg-8, .col-md-8, .col-sm-8 {
    width: 66.66%;
}

.col-9, .col-xl-9, .col-lg-9, .col-md-9, .col-sm-9 {
    width: 75%;
}

.col-10, .col-xl-10, .col-lg-10, .col-md-10, .col-sm-10 {
    width: 83.33%;
}

.col-11, .col-xl-11, .col-lg-11, .col-md-11, .col-sm-11 {
    width: 91.66%;
}

.col-12, .col-xl-12, .col-lg-12, .col-md-12, .col-sm-12 {
    width: 100%;
}

.top-bar {
    height: 142px;
    position: relative;
    background-color: var(--theme-colour-primary);
}

.wrapper-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 800px;
    height: auto;
    display: block;
    background-color: var(--bs-white);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 100px;
}

.card-header, .card-body {
    border-bottom: 1px solid #cccccc;
    padding: 35px 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

form {
    width: inherit;
}

.from-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-end {
    justify-content: end;
}

.input-group {
    padding: 15px 10px 15px 0;
    position: relative;
}

.input-control {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

label sup.required {
    color: var(--bs-red);
}

.input-group label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: rgba(0, 0, 0, .45);
    transition: .5s;
}

/*.input-group input:valid ~ label,*/
.input-group input:focus ~ label,
label.styled-input-label {
    color: var(--theme-colour-primary);
    transform: translateX(10px) translateY(-7px);
    font-size: .70rem;
    padding: 0 10px;
}

.input-group input:focus,
.styled-input {
    border: 1px solid var(--theme-colour-primary);
}

.input-group.style1 input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}
.input-select-box {
    position: relative;
}
.input-select-box:before {
    position: absolute;
    content: '\25BC';
    top: 0;
    right: 0;
    font-size: .65rem;
    padding: 1rem;
    color: var(--theme-colour-primary);
}
.input-select-box input {
    cursor: pointer;
}
.input-select-box .options {
    position: absolute;
    width: 100%;
    display: none;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
    z-index: 1000;
    margin-top: 5px;
    background-color: var(--bs-white);
    transition: .5s all ease;
}
.input-select-box .options.show {
    display: block;
}
.input-select-box .options .option {
    padding: 10px;
    cursor: pointer;
}
.input-group .input-select-box .options .option:hover,
.input-group .input-select-box .options .option.selected {
    background-color: var(--theme-colour-light);
}

.input-group input[type="checkbox"] {
    position: relative;
    width: 34px;
    height: 14px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
    cursor: pointer;
    background: #c6c6c6;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    transition: .5s all ease;
}

.input-group input[type="checkbox"]:checked {
    background: #9fa8da;
}

.input-group input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: var(--bs-white);
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    transform: scale(1.5);
    transition: .5s all ease;
}

.input-group input:checked[type="checkbox"]:before {
    left: 18px;
    background: var(--theme-colour-primary);
}
